.endless-loading {
  padding: 70px 0px 0px 0px;

  .endless-loading__body {
    .endless-loading__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0px -15px;
    }
  }
}
